body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
    }

.vertical-menu ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
         }

.vertical-menu a {
    color: #000; 
    display: block; 
    padding: 5px;
    text-align: left;
    text-decoration: none; 
}

.vertical-menu a:hover {
        color: #69696a;
    }

p.left {
    border-left: 3px solid;
    padding: 10px;
    color:#69696a;
 }

button {
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
    font-size: 15px;
    color: #fff;
    background-color: #000;
    margin: 5px;
    padding: 12px;
    display: block;
    width: 100%;
}

.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        background-color:rgba(247, 193, 162, 0.7);
        color: #000;
        width: 100%;
     }
.footer-menu a{
    display: inline;
    flex-wrap: flex;
    text-decoration: none;
    color: #69696a;
}
.footer-menu ul{
    display: flex;
    flex-wrap: flex;
    list-style-type: none;
}